.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 1.2rem;
  position: relative;
}

.container p {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.container p.selectable:hover {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2rem;
}

.container .selection {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 40%;

  z-index: 2;
  cursor: pointer;
}

.container .selection.start {
  border-radius: 2rem 0 0 2rem;
}

.container .selection.end {
  border-radius: 0 2rem 2rem 0;
}

.container .selection.start.end {
  border-radius: 2rem;
}

.isToday {
  font-weight: bold;
  font-style: italic;
}

.isPast {
  color: #a8a8a8;
  font-weight: lighter;
}

.pointer {
  cursor: pointer !important;
}