<div class="column fill-height"
     style="justify-content: space-between; background-color: antiquewhite;">

     <nav class="flex row margin"
          style="justify-content: space-between;">
          <div class="row margin"
               style="align-items: baseline;">Your <p style="font-size: 3rem; font-weight: bold;">Yearly</p> calendar
               view
          </div>
          <div>
               <button (click)="login()"
                       class="bg-black raised margin-top-heavy">
                    <fa-icon [icon]="googleIcon"
                             [size]="'lg'">
                    </fa-icon>
                    Login
               </button>
          </div>
     </nav>

     <main class="column container padding margin"
           style="height: 100%;">


          <p class="padding-y margin-y"
             style="max-width: 36rem; text-align: justify;">Yearly provides a unique, bird's-eye view of your entire
               year.
               Perfect for long-term planning, tracking habits, or just getting a better perspective on your time. </p>

          <p class="margin-top-heavy">Spot patterns, plan vacations and stay motivated in your annual goals!</p>

          <div class="column margin-top-heavy">
               <p style="font-size: 1.2rem; font-weight: bold;">✨ Features</p>
               <ul style="text-align: start;">
                    <li>View all 12 months at once</li>
                    <li>Color-code events from multiple calendars</li>
                    <li>Sync with your existing calendars</li>
                    <li>And many more!</li>
               </ul>
          </div>


     </main>

     <a href="/privacy-policy"
        style="align-self: end; margin: 1rem; text-decoration: none; color: black;">Privacy Policy</a>
</div>