<p class="font-xl bold margin-sides-auto margin-ends">
       {{this.parameters.isNewEvent ? '✨ New Event ✨' : '✏️ Edit Event'}}</p>

<div class="column padding margin-sides">
       <label for="event-title"
              class="font-m bold margin-ends">Title</label>
       <input type="text"
              id="event-title"
              placeholder="Event title"
              [(ngModel)]="this.parameters.event.title"
              [disabled]="!canEdit">
</div>

<div class="column padding margin-sides">
       <label for="event-start"
              class="font-m bold">Start</label>
       <div class="horizontal">
              <input type="date"
                     id="event-start"
                     [(ngModel)]="eventStartDate"
                     [disabled]="!canEdit">
              <input type="time"
                     id="event-start-time"
                     class="margin-sides"
                     [(ngModel)]="eventStartTime"
                     [disabled]="!canEdit">
       </div>
</div>

<div class="column padding margin-sides">
       <label for="event-start"
              class="font-m bold">End</label>
       <div class="horizontal">
              <input type="date"
                     id="event-start"
                     [(ngModel)]="eventEndDate"
                     [disabled]="!canEdit">
              <input type="time"
                     id="event-start-time"
                     class="margin-sides"
                     [(ngModel)]="eventEndTime"
                     [disabled]="!canEdit">
       </div>
</div>


<div class="column padding margin margin-bottom-heavy">
       <label for="event-calendar"
              class="font-m bold margin-bottom">Calendar</label>
       <div class="horizontal center-items-y">

              <select id="event-calendar"
                      [(ngModel)]="this.selectedCalendar"
                      [disabled]="!canEdit">
                     <option *ngFor="let calendar of calendars"
                             [ngValue]="calendar">{{calendarService.getCalendarName(calendar)}}</option>
              </select>
              <div class="colour-indicator margin-sides"
                   [ngClass]="{'raised': selectedCalendar != null}"
                   [ngStyle]="{'background-color': selectedCalendar?.backgroundColor}"></div>
       </div>

</div>

<footer class="row margin-top-auto fill-width center-items-x">
       <button id="back-button"
               class="margin-sides-heavy margin-bottom-heavy primary bg-light"
               *ngIf="!this.parameters.isNewEvent"
               (click)="$event.stopPropagation(); windowsService.back()">Back</button>

       <button id="save-button"
               class="bg-primary margin-sides-heavy margin-bottom-heavy"
               (click)="$event.stopPropagation(); saveChanges()"
               [disabled]="!canSave || isSaving || !canEdit">
              {{isSaving ? '' : 'Save'}}
              <fa-icon *ngIf="isSaving"
                       [icon]="fanIcon"
                       [size]="'lg'"
                       animation="spin">
              </fa-icon>
       </button>
</footer>