@import url('../../common.stylesheet.css');

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  #calendars>div>label:nth-of-type(1) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto !important;
  }

  #calendars>div>input:nth-of-type(2) {
    margin-left: auto !important;
  }

  main {
    width: auto !important;
  }
}

#calendars>div>input:nth-of-type(2) {
  margin-left: auto;
}

#calendars>div>label:nth-of-type(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  width: 20rem;
}

main {
  flex: 1;
  width: 30vw;
}