<main class="column padding-heavy row">

  <p class="font-xl bold margin-ends-heavy">Settings</p>

  <div *ngFor="let calendar of calendars"
       class="row center-items-y margin-ends-light">

    <input [id]="'calendar-' + calendar.id "
           class="primary"
           type="checkbox"
           [checked]="isCalendarAllowed(calendar.id)"
           (change)="toggleCalendar(calendar.id)">

    <div class="colour-indicator raised margin-sides"
         [ngStyle]="{'background-color': calendar.backgroundColor}"></div>

    <label for="{{'calendar-' + calendar.id }}"
           class="font-m pointer">{{utilService.getCalendarName(calendar)}}</label>



  </div>

  <div>
    <button class="primary bg-light border margin-top-heavy"
            (click)="router.navigate(['/']);">Back</button>
  </div>

  <p class="margin-top-auto margin-left-auto">v{{utilService.version}}</p>

</main>