<div id="backdrop"
     (click)="settingService.getSettings().closeAllWindows ? windowsService.backAllWindows() : windowsService.back()"
     [ngClass]="{'from-left': openingSide == 'left', 'from-right': openingSide == 'right'}">

  <div id="window"
       [@swipe]="{ value: true, params: getParameters()}"
       (click)="$event.stopPropagation();"
       *ngFor="let event of windowsService.windowQueue">

    <app-events-list *ngIf="event.type == 'list-events'">
    </app-events-list>

    <app-event-edit *ngIf="event.type == 'edit-event'">
    </app-event-edit>

  </div>

</div>