<div class="calendar-container">
  <header> {{month.name}} </header>
  <div id="weekdays">
    <div *ngFor="let weekdayName of weekDays">
      {{weekdayName[0]}}
    </div>
  </div>
  <div id="days-container">
    <div class="filler"
         *ngFor="let filler of fillerDays"></div>
    <app-day *ngFor="let day of month.days"
             [day]="day"
             [events]="getDayEvents(day)"
             [canCreateNewEvent]="canCreateNewEvent"
             (onDayClick)="onDayClickEvent($event)"></app-day>
  </div>
</div>