<!-- TODO: Move nav to its own component -->
<nav>

  <div id="info">
    <h3>Yearly</h3>
    <p class="mobile-hidden">{{authService.socialUser?.firstName}}'s calendar</p>
    <p class="mobile-hidden">{{todaysPercentage.toFixed(2)}}%</p>
    <div id="year-selection">
      <button (click)="changeYear(year - 1)"><fa-icon [icon]="chevronLeftIcon"
                 [size]="'lg'"></fa-icon></button>
      <p (click)="changeYear(currentYear)">{{year}}</p>
      <button (click)="changeYear(year + 1)"><fa-icon [icon]="chevronRightIcon"
                 [size]="'lg'"></fa-icon></button>
    </div>
  </div>

  <div id="colors">
    <div class="color"
         *ngFor="let color of colors | keyvalue"
         [ngStyle]="{ '--color': color.value.background}"
         [ngClass]="{ 'selected': color.key === selectedColorId }"
         (click)="selectColor(color.key)"></div>
    <div class="color icon"
         [ngStyle]="{ '--color': 'white', color: 'red'}"
         (click)="selectedColorId = undefined"><fa-icon [icon]="banIcon"
               [size]="'sm'"></fa-icon></div>
  </div>

  <div id="actions">
    <button (click)="pushChanges()"
            [disabled]="(eventsToAdd.length == 0 && eventsToDelete.length == 0)|| isEditEventWindowOpen"><fa-icon
               [icon]="floppyDiskIcon"
               [size]="'lg'"></fa-icon></button>
    <button (click)="router.navigate(['/settings'])"><fa-icon [icon]="cogIcon"
               [size]="'lg'"></fa-icon></button>
    <button (click)="authService.logOut()"><fa-icon [icon]="exitIcon"
               [size]="'lg'"></fa-icon></button>
  </div>
</nav>

<div id="calendar">
  <app-month *ngFor="let month of months | keyvalue: monthsOrder"
             [month]="month.value"
             [year]="year"
             [events]="month.value.events"
             [canCreateNewEvent]="canCreateNewEvent"
             (onDayClick)="onDayClickEvent($event)"></app-month>
</div>

<app-edit-event [(visible)]="isEditEventWindowOpen"
                (onClose)="onEditEventComplete($event)"
                [event]="newEvent"
                [x]="mousePosition?.pageX"
                [y]="mousePosition?.pageY"
                [ngStyle]="{'z-index': (isEditEventWindowOpen ? '2' : '-1')}"></app-edit-event>

<app-list-events-window [(visible)]="isEventsListWindowOpen"
                        (onClose)="onListEventsComplete($event)"
                        [events]="eventsListInfo"
                        [x]="mousePosition?.pageX"
                        [y]="mousePosition?.pageY"
                        [ngStyle]="{'z-index': (isEventsListWindowOpen ? '2' : '-1')}">
</app-list-events-window>

<app-window-container *ngIf="windowsService.anyWindowOpen()"></app-window-container>