* {
  --rows: 3;
  --columns: 4;
  --colors-gap: .3rem;
  --nav-direction: row;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Mobile */
@media (max-width: 768px) {
  * {
    --rows: 12;
    --columns: 1;
    --nav-direction: column;
    --colors-gap: .9rem;
  }

  #colors {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #info {
    width: 100%;
    justify-content: space-around
  }

  .mobile-hidden {
    display: none;
  }

  app-list-events-window,
  app-edit-event {
    width: 100%;
  }
}

@media (hover: hover) {
  nav button:not(:disabled):hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }

  .color:hover {
    cursor: pointer;
    opacity: 20%;
  }

  .color.icon:hover {
    opacity: 70%;
  }
}

#calendar {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-gap: 0 2rem;
  flex: 1;
  margin: 0 1rem 1rem 1rem;
}

nav {
  display: flex;
  flex-direction: var(--nav-direction);
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

nav>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

nav button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
}

app-month {
  display: flex;
  justify-content: center;
  align-items: center;
}

#colors {
  gap: var(--colors-gap);
}

.color {
  height: 1.5rem;
  aspect-ratio: 3 / 2;
  background-color: var(--color);
  border: 1px solid color-mix(in srgb, var(--color) 50%, black);
  border-radius: .7rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.color:not(.icon) {
  opacity: 50%;
}

.color.selected {
  opacity: 100%;
}

#year-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;

  background-color: #f5f5f5;
  border-radius: 1rem;

  p {
    font-weight: bold;
  }
}

app-edit-event {
  position: absolute;
  z-index: 10;
}

app-list-events-window {
  position: absolute;
  z-index: 10;
}

app-window-container {
  position: fixed;
  z-index: 10;

  display: flex;
  height: 100%;
  width: 100%;
}