:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem 2rem;
  flex: 1;
  margin: 0 1rem 1rem 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

nav button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
}

nav button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

app-month {
  display: flex;
  justify-content: center;
  align-items: center;
}