<!-- TODO: Move nav to its own component -->
<nav>
  <div class="left">
    <h3>Yearly</h3>
    <p>{{googleAuthService.socialUser?.firstName}}'s calendar</p>
    <p>{{todaysPercentage.toFixed(2)}}%</p>
  </div>

  <div class="center">
    <div class="color"
         *ngFor="let color of colors | keyvalue"
         [ngStyle]="{ '--color': color.value.background}"
         [ngClass]="{ 'selected': color.key === selectedColorId }"
         (click)="selectColor(color.key)"></div>
    <div class="color icon"
         [ngStyle]="{ '--color': 'white', color: 'red'}"
         (click)="selectedColorId = undefined"><fa-icon [icon]="banIcon"
               [size]="'sm'"></fa-icon></div>
  </div>

  <div class="right">
    <button (click)="share()"
            [disabled]="events.length == 0"><fa-icon [icon]="downloadIcon"
               [size]="'lg'"></fa-icon></button>
    <button (click)="pushChanges()"
            [disabled]="(newEvents.length == 0 && eventsToDelete.length == 0)|| isEditEventWindowOpen"><fa-icon
               [icon]="floppyDiskIcon"
               [size]="'lg'"></fa-icon></button>
    <button (click)="googleAuthService.logOut()">SignOut</button>
  </div>
</nav>

<div id="calendar">
  <app-month *ngFor="let month of months | keyvalue: monthsOrder"
             [month]="month.value"
             [year]="year"
             [events]="getMonthEvents(month.value)"
             [canCreateNewEvent]="canCreateNewEvent"
             (onDayClick)="onDayClickEvent($event)"></app-month>
</div>

<app-edit-event [(visible)]="isEditEventWindowOpen"
                (onClose)="onEditEventComplete($event)"
                [event]="newEvent"
                [x]="mousePosition?.x"
                [y]="mousePosition?.y"
                [ngStyle]="{'z-index': (isEditEventWindowOpen ? '2' : '-1')}"></app-edit-event>

<app-list-events-window [(visible)]="isEventsListWindowOpen"
                        (onClose)="onListEventsComplete($event)"
                        [events]="eventsListInfo"
                        [x]="mousePosition?.x"
                        [y]="mousePosition?.y"
                        [ngStyle]="{'z-index': (isEventsListWindowOpen ? '2' : '-1')}">
</app-list-events-window>