<p class="font-xl bold margin-sides-auto margin-ends">{{utilService.getFormattedDate(this.parameters.date)}}</p>

<div *ngFor="let event of events"
     class="event-details row padding-heavy center-items-y"
     (click)="openEvent(event)">

     <div class="colour-indicator raised"
          [ngStyle]="{'background-color': event.colour}"></div>

     <p class="margin-sides">{{event.title}}</p>

     <span
           class="pill padding-sides margin-sides margin-left-auto blue bg-light border raised-low">{{getTime(event)}}</span>

     <fa-icon *ngIf="event.eventType == 'default' && event.creator.email == this.userService.emailAddress"
              id="event-delete"
              class="red"
              [icon]="faTrash"
              [size]="'sm'"
              (click)="removeEvent(event)"></fa-icon>

     <fa-icon *ngIf="event.eventType != 'default' || event.creator.email != this.userService.emailAddress"
              class="grey-500"
              [icon]="faLock"
              [size]="'sm'"></fa-icon>

</div>

<button id="save-button"
        class="bg-primary margin-top-auto margin-sides-heavy margin-bottom-heavy"
        (click)="saveChanges()"
        [disabled]="isSaving || (this.eventsToDelete.length == 0 && this.eventsToUpdate.length == 0)">
     {{isSaving ? '' : 'Save'}}
     <fa-icon *ngIf="isSaving"
              [icon]="fanIcon"
              [size]="'lg'"
              [spin]="true">
     </fa-icon>
</button>