:host {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto 0 auto;
  padding: 0.5rem 0 0.5rem 0;
}

.event-details {
  display: flex;
  align-items: center;

  padding: 1rem;
}

.event-details:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.event-colour {
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.event-details p {
  margin: 0 0.5rem 0 0.5rem;
}

.event-details #event-time {
  background: #bfeefd;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 90%;
  border: 1px solid #009eb7;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-left: auto;
}

.event-details #event-delete {
  color: #d90000;
  transition: all 0.3s;
}

.event-details #event-delete:hover {
  cursor: pointer;
  text-shadow: 0 0 5px black;
  transform: translateY(-2px);
}

#save-button {
  margin: auto 2rem 1rem 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid #0036aa;
  background-color: #0045db;
  color: white;
  transition: all 0.3s;
  border-radius: 1rem;
}

#save-button:disabled {
  background-color: #f5f5f5;
  color: #b3b3b3;
  border: none;
}

#save-button:not(:disabled) {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

@media (hover: hover) {
  #save-button:not(:disabled):hover {
    cursor: pointer;
    background-color: #0036aa;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  }
}