:host {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto 0 auto;
  padding: 0.5rem 0 0.5rem 0;
}

.event-details {
  display: flex;
  align-items: center;

  padding: 1rem;
}

.event-details:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.event-colour {
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.event-details p {
  margin: 0 0.5rem 0 0.5rem;
}

.event-details #event-time {
  background: #bfeefd;
  border-radius: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 90%;
  border: 1px solid #009eb7;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-left: auto;
}