<p class="title">{{utilService.getFormattedDate(this.parameters.date)}}</p>

<div *ngFor="let event of events"
     class="event-details">

     <div class="event-colour"
          [ngStyle]="{'background-color': event.colour}"></div>

     <p>{{event.title}}</p>

     <p id="event-time">{{getTime(event)}}</p>

     <fa-icon id="event-delete"
              [icon]="faTrash"
              [size]="'sm'"
              (click)="removeEvent(event)"></fa-icon>

</div>

<button id="save-button"
        (click)="saveChanges()"
        [disabled]="this.eventsToDelete.length == 0">Save</button>